<template>
    <div class="contenedor">
        <div class="cuadro1">
            <div class="imagen-qr">
                <img :src="ipi" style="width: 100%;" alt="">
            </div>
            <div class="clave-plain">
                <div class="titulo">{{nombre}}</div>
                <div class="clave"></div>
            </div>
        </div>
    </div>
</template>

<script>

import axios from 'axios'
import { IP, PUERTO } from './components/config/parametros'

export default {
    name: 'Principal',
    data() {
        return {
            ipi: '',
            nombre: ''
        }
    },
    methods: {
        async getIpImagen(){
            let d = await axios.get(`http://${IP}:${PUERTO}/api/parametros/VISITAS`)
            this.nombre = d.data.wifi
            this.ipi = d.data.url
        }
    },
    mounted() {
        this.getIpImagen()
        //otras cosas
    },

}
</script>

<style>
    .contenedor{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .cuadro1{
            width: 500px;
            height: 600px;
        }
            .imagen-qr{
                width: 500px;
                height: 500px;
            }

            .clave-plain{
                width: 100%;
                height: 100px;
               
                font-size: 30px;
            }

            .titulo{
                text-align: center;
                font-weight: bold;
            }

            .clave{
                text-align: center;
            }
</style>